av==14.4.0
bcrypt==4.3.0
dataclasses-json==0.6.7
facenet-pytorch==2.5.3
fer==22.5.1
ffmpeg==1.4
groq==0.30.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
keras==3.10.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.69
langchain-groq==0.3.6
langchain-text-splitters==0.3.8
moviepy==1.0.3
nltk==3.9.1
numba==0.61.2
numpy==1.26.4
openai==1.97.0
openai-whisper==20250625
opencv-contrib-python==4.11.0.86
opencv-python==4.5.5.64
opencv-python-headless==4.7.0.72
pandas==2.3.1
pdfplumber==0.11.7
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
regex==2024.11.6
SQLAlchemy==2.0.41
streamlit==1.47.0
streamlit-webrtc==0.63.3
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
toml==0.10.2
torch==2.2.2
torchvision==0.17.2
urllib3==2.5.0
whisper
