
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiohttp-retry==2.9.1
aioice==0.10.1
aiortc==1.13.0
aiosignal==1.4.0
av==14.4.0
bcrypt==4.3.0
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.7.14
cffi==1.17.1
dataclasses-json==0.6.7
decorator==4.4.2
facenet-pytorch==2.5.3
fer==22.5.1
ffmpeg==1.4
groq==0.30.0
cloud-sql-python-connector
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib-metadata==6.11.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.69
langchain-groq==0.3.6
Markdown==3.8.2
markdown-it-py==3.0.0
matplotlib==3.10.3
moviepy==1.0.3
mtcnn==1.0.0
numba==0.61.2
numpy==1.26.4
openai==1.97.0
openai-whisper==20230314  # or just openai-whisper
opencv-python-headless==4.7.0.72
pandas==2.3.1
pdfplumber==0.11.7
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
regex==2024.11.6
requests==2.32.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.41
streamlit==1.47.0
streamlit-webrtc==0.63.3
tensorflow==2.19.0
toml==0.10.2
torch==2.0.1
triton==2.0.0
urllib3==2.5.0
validators==0.35.0